<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Home</title>
</head>
<body>
<div id="title" class="title"><h1>Connect 4</h1><h3>Press Play -><button onmouseout="removeHover()" onmouseover="playHover()" onclick="play()">Play</button></h3></div>
<div class="box">
    <div id="projectile"></div>
    <div id="projectile2"></div>
    <div id="projectile3"></div>
    <div id="projectile4"></div>
</div>
<div id="app">
    <div v-if="gameOver" class="gameOver"><span>Congratulations Player {{this.playerTurn}}! You Won!</span><h6 style="cursor: pointer; text-decoration: underline" onclick="beforeReload(); setTimeout(reload, 3000)">Restart</h6></div>
    <div v-bind:class="{ remove: gameOver}" id="board" class="start">
        <div class="row" v-for="(row, rowIndex) in grid" v-bind:keys="row">
            <div class="cell" v-for="(playArea, colIndex) in row" v-bind:keys="playArea"
                 v-on:click="selectCell(rowIndex, colIndex)">
                {{ playArea }}
            </div>
        </div>
    </div>
    <div class="box">
        <div v-if="gameOver" class="projectile"></div>
        <div v-if="gameOver" class="projectile"></div>
        <div v-if="gameOver" class="projectile"></div>
        <div v-if="gameOver" class="projectile"></div><br>
        <div v-if="gameOver" class="projectile"></div>
        <div v-if="gameOver" class="projectile"></div>
        <div v-if="gameOver" class="projectile"></div>
        <div v-if="gameOver" class="projectile"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="app/app.js"></script>
<script src="app/app2..js"></script>
</body>
</html>
